pipeline/copy_task.json
{
	"name": "copy_task",
	"properties": {
		"activities": [
			{
				"name": "bulkcopy",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "\tSELECT TOP (1000) *\n\t  FROM [dwadm2].[CD_FISCAL_CAL]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table CD_FISCAL_CAL"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FISCAL_CAL_KEY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FISCAL_CAL_KEY",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "FISCAL_CAL_CD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FISCAL_CAL_CD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FISCAL_CAL_DESCR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FISCAL_CAL_DESCR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DATA_LOAD_DTTM",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DATA_LOAD_DTTM",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "DATA_SOURCE_IND",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DATA_SOURCE_IND",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PERIOD_DESCR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PERIOD_DESCR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PERIOD_END_DT",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PERIOD_END_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "PERIOD_NBR",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PERIOD_NBR",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "PERIOD_START_DT",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "PERIOD_START_DT",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "UPDATE_DTTM",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UPDATE_DTTM",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "FISCAL_YEAR",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FISCAL_YEAR",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ABS_PERIOD_NBR",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ABS_PERIOD_NBR",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "UDF1_CD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UDF1_CD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UDF1_DESCR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UDF1_DESCR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UDF2_CD",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UDF2_CD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UDF2_DESCR",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "UDF2_DESCR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "JOB_NBR",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "JOB_NBR",
									"type": "Int64",
									"physicalType": "bigint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "datawarehouse_fiscal_cal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_test_db_fiscal_cal",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "bulkcopy",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Result",
					"value": {
						"value": "@string(activity('bulkcopy').output.rowsCopied)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Result": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-14T13:00:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}